body {
    background-color: #4FBDBA;
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 10px;
    width: 5%;
}
h1 {
    color: #072227;
}
h3 {
    color: #072227;
}
